@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v4/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

html, body {
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    color:#000;
    font-size: 1em;
    background-color: #fff;
}
body{
    border: 0.12em solid #57ABB8;
    border-radius: 1em;
    margin:  auto auto !important;
    width: 65%
}
a{
    color: #000099;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: darkslateblue;
}
figcaption{
    font-size: 0.85em;
    padding: 0.25em;
    text-align: center;
}
img,video{
    max-width: 100%;
}
header, section#contenido, footer{
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
header h1 , nav{
    display: inline-block;
    max-width: 100%; /*Esto es un 100% del 90% del header declarado arriba*/
    vertical-align: top;
}
form{
    width: 100%;
}
form div{
    margin: 0.5em;
}
iframe{
    border-radius: 0.5em;
}
aside{
    width: 30%;
}
aside img{
    border-radius: 0.5em;
}

footer{
    font-size: 0.75em;
    padding: 0.75em;
}
footer a{
    color: #000;
    font-weight: normal;
}
.fade{
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    border-radius: 0.5em;
    opacity: 1;
    width: 50%;
    height: 50%
}
.fade:hover{
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    opacity: 0.7;
}

.input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:13px;
    width:200px;
    min-height:23px;
    margin-bottom:10px;
    outline: none;

    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    border-radius:7px;
    color:#00008B;
    background: -webkit-gradient(linear, left top, left 10, from(#FFFFFF), color-stop(5%, #D3D3D3 ), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FFFFFF 10px);  
}

label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00008B;
    font-size:11px;
    font-weight: normal;
}
label[for]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00008B;
    font-weight: bold;
    font-size:13px;
}
#fieldcs{
    width: 50%;
    color: #00008B;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
    font-size:16px;
}
input[type=submit] {
    width:80px;
    padding:3px; 
    background: -webkit-gradient(linear, left top, left 20, from(#999999), color-stop(5%, #FFFFFF ), to(#666666));  
    cursor: pointer;
    color: #00008B;
    font-weight: bold;
}

input[type=submit]:hover{
    background: -webkit-gradient(linear, left top, left 20, from(#555555), color-stop(5%, #FFFFFF ), to(#999999));  
}
.btncentrar{
    text-align: center;
    margin: 0 auto;

}
input[type=file] {
    width:60%;
    font-size: 11px;
    cursor: pointer;
    color: #00008B;
}
input[type=radio]{
    font-size: 11px;
}
input[type=date]{
    width: 125px;
}
.form_element select{
    font-size: 11px;
    color: #00008B;

}